{sys, [
		{lib_dirs, ["/Users/alexanderivakin/Documents/Erlang/release/"]},
		{rel, "erlcount", "1.0.0",
			[kernel,
		 	 stdlib,
		 	 {ppool, permanent},
		 	 {erlcount, transient}
			]},
		{boot_rel, "erlcount"},
		{relocatable, true},
		{profile, standalone},
		{app, ppool, [{vsn, "1.0.0"},
					  {app_file, all},
					  {debug_info, keep}]},
	    {app, erlcount, [{vsn, "1.0.0"},
						 {incl_cond, include},
						 {app_file, strip},
						 {debug_info, strip}]}
]}.